*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: serif;}

body{
background: #f1fbff;}

.calendar{
padding: 20px 40px;}

.months-container{
justify-content: center;
gap: 40px;}

.calendar .months-container .month-container{
background: #D1D5D8;
padding: 20px;
min-width: 280px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.55);}

.calendar table.month th.month-title{
color:#54573A;
font-size: 1.9em;
font-weight: 800;}

.calendar table.month td:first-child,
.calendar table.month td:last-child,
.calendar thead tr:nth-child(2) th:first-child,
.calendar thead tr:nth-child(2) th:last-child
{
color: #7D1424;}

.calendar table.month td.day .day-content{
padding: 6px 8px;}

.calendar table.month td.day-header{
color: #777;
font-size: 0.9em;
font-weight: 700;}

.month tr td{
font-size: 0.9em;
font-weight: 500;
color: #777;
}

.calendar table.month td.day .day-content:hover{
background: #60646D;
color: #fff;}

.calendar .calendar-header{
border: none;} 

.calendar .calendar-header table th:hover{
background: transparent;
color: darkgray;}

.calendar .calendar-header .year-title{
font-size: 2.25em;
font-style: italic;
color: gray;}

.calendar .calendar-header .year-neighbor{
font-style: italic;
font-size: 2.05em;
color: skyblue;}

